// LightMode
$bg: #f4f4f4;
$text: #0d0c2f;
$blue: #423ff8;
$purple: #8f8dfb;
$sky: #68afff;
$orange: #ff9c50;
$cyan: #1afee3;
$redPurple: #cd529b;

// DarkMode
$dark-bg: #0d0c2f;
$dark-text: #f4f4f4;
$dark-blue: #282493;
$dark-purple: #4f4c96;
$dark-sky: #3a5c95;
$dark-orange: #86533d;
$dark-cyan: #14858a;
$dark-redPurple: #6d2e63;
